#########################
# Unreal Generate Files #
#########################
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
Content/StarterContent

#########################
# VC Generate Files #
#########################
*VC.db